body {
	margin: 0 0 0 0;
	background: black;
}

.mainimage img{
	height: 100%;
}

.floatbox {
   position: absolute;
   top: 25px;
   left: 60%;
   width: 40%;
}

.tweets h2 {
	color: #A378B4;
   font: 24px Helvetica, Sans-Serif;
}

.tweets {
	padding: 10px;
	color: white;
   font: 18px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

.captionbox {
   position: absolute;
   bottom: 20px;
   left: 20px;
}

.caption {
	padding: 10px;
	color: white;
   font: 20px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}