body {
	margin: 0 0 0 0;
	background: black;
}

canvas {
	position: absolute;
	z-index: 100;
}

.mainimage img{
	height: 100%;
}

.floatbox {
   position: absolute;
   z-index: 200;
   top: 25px;
   right: 25px;
   width: 34%;
}

.tweets h2 {
	color: #c398d4;
	font-size: 50px;
	line-height: 56px;
	margin:0;
	padding:0;
   font-family:Helvetica, Sans-Serif;
}

.tweets {
	padding: 10px;
	color: white;
   font: 24px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
}

.captionbox {
   position: absolute;
   z-index: 150;
   bottom: 20px;
   left: 20px;
}

.caption {
	padding: 10px;
	color: white;
   font: 20px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}